.main {
  width: 100%;
  height: 800px;
}

.imge1 {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.imge2 {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}
.imge3 {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.imge4 {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
